/*----------------COLORS-------------------*/
/*----------------FONTS-------------------*/
/*-operador scss-*/
/*first variabls*/
/*---------NAVBAR---------*/
nav {
  padding: 20px;
  background-color: #d2d2d2; }
  nav .nav {
    display: flex;
    justify-content: space-between; }
  nav .favicon {
    height: 25px;
    margin-top: 8px; }

/*estilos del navbar*/
/*---------FOOTER---------*/
footer {
  background-color: #d2d2d2; }
  footer .footerLinks {
    text-align: center; }
    footer .footerLinks ul {
      padding: 0;
      list-style-type: none;
      margin: 0; }
    footer .footerLinks li {
      display: inline-block;
      padding: 1rem; }
    footer .footerLinks a {
      color: #000000;
      text-decoration: none;
      font-size: 13px; }
  footer .copyright {
    text-align: center; }
    footer .copyright p {
      margin: 0;
      color: #939292;
      font-size: 11px; }
  footer .top {
    text-align: right; }

/*estilos del footer*/
/* Animation Library */
.btn {
  background-color: #111C7C; }

.btn-penalty {
  background-color: aqua; }

/* MAP = Lista de elementos */
.btn-penalty {
  background-color: green; }

.btn-rappi {
  background-color: #fc5959; }

.btn-coder {
  background-color: grey; }

.btn-resume {
  background-color: #fc5959; }

/*---------MEDIA QUERY---------*/
@media only screen and (max-width: 768px) {
  .wrapper {
    display: block; }
  .margin-bot {
    margin-bottom: 2px; }
  .bigDescription {
    font-size: 2rem; }
  .elementCounter {
    flex-direction: column; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif; }

/*  --------BODY---------  */
body {
  line-height: 1.2;
  background-color: #e8e8e8; }

.heroContent {
  margin: 0 auto;
  width: 80vw; }

.main {
  margin: 0 auto;
  width: 80vw; }

.bigDescription {
  font-size: 48px;
  color: #111C7C;
  font: bolder; }

.name {
  color: #0f3fba; }

.normalText, .normalText--v2 {
  font-size: 16px;
  font: caption;
  text-decoration: dashed; }

.normalText--v2 {
  font-size: 16px; }

.img-fluid:hover {
  border: solid 2px #000000;
  transform: scale(1.1, 1.1); }

/* animation */
.typed-words {
  font-size: 24px; }

.animacion {
  font-size: medium;
  /* name */
  animation-name: ContactMe;
  /* veces que se ejecuta */
  animation-iteration-count: infinite;
  /* Duration */
  animation-duration: 4s;
  /* Delay */
  animation-delay: 1s; }

@keyframes ContactMe {
  0% {
    color: #000000; }
  25% {
    color: #111C7C; }
  50% {
    color: #939292; }
  75% {
    color: #111C7C; }
  100% {
    color: #000000; } }
