/*----------------COLORS-------------------*/
/*----------------FONTS-------------------*/
/*-operador scss-*/
/*first variabls*/
/*---------NAVBAR---------*/
nav {
  padding: 20px;
  background-color: #d2d2d2; }
  nav .nav {
    display: flex;
    justify-content: space-between; }
  nav .favicon {
    height: 25px; }

/*estilos del navbar*/
/*---------FOOTER---------*/
footer {
  background-color: #d2d2d2; }
  footer .footerLinks {
    text-align: center; }
    footer .footerLinks ul {
      padding: 0;
      list-style-type: none;
      margin: 0; }
    footer .footerLinks li {
      display: inline-block;
      padding: 1rem; }
    footer .footerLinks a {
      color: #000000;
      text-decoration: none;
      font-size: 13px; }
  footer .copyright {
    text-align: center; }
    footer .copyright p {
      margin: 0;
      color: #939292;
      font-size: 11px; }
  footer .top {
    text-align: right; }

/*estilos del footer*/
/* Animation Library */
.btn {
  background-color: #111C7C; }

.btn-penalty {
  background-color: aqua; }

/* MAP = Lista de elementos */
.btn-penalty {
  background-color: green; }

.btn-rappi {
  background-color: #fc5959; }

.btn-coder {
  background-color: grey; }

.btn-resume {
  background-color: #fc5959; }

/*---------MEDIA QUERY---------*/
@media only screen and (max-width: 768px) {
  .wrapper {
    display: block; }
  .margin-bot {
    margin-bottom: 2px; }
  .bigDescription {
    font-size: 2rem; }
  .elementCounter {
    flex-direction: column; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif; }

/*  --------BODY---------  */
body {
  line-height: 1.2;
  background-color: #e8e8e8; }

.titleImportant {
  font-size: 19px; }

.bigDescription {
  font-size: 4rem;
  color: #111C7C;
  font: bolder; }

.underline {
  text-decoration: underline; }

.experience {
  background-color: antiquewhite;
  text-align: center; }

.elementCounter {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: auto; }

.elementCounterNumber {
  text-align: center;
  display: flex;
  font-size: 69px;
  font-weight: 600;
  line-height: 1; }

.elementCounterTitle {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  line-height: 2.5; }

.img-fluid:hover {
  border: solid 2px #000000;
  transform: scale(1.1, 1.1); }

/* animation */
.typed-words {
  font-size: 24px; }

.animacion {
  font-size: medium;
  /* name */
  animation-name: ContactMe;
  /* veces que se ejecuta */
  animation-iteration-count: infinite;
  /* Duration */
  animation-duration: 4s;
  /* Delay */
  animation-delay: 1s; }

@keyframes ContactMe {
  0% {
    color: #000000; }
  25% {
    color: #111C7C; }
  50% {
    color: #939292; }
  75% {
    color: #111C7C; }
  100% {
    color: #000000; } }
