@import "utilities/variables"; /*first variabls*/
@import "views/nav"; /*estilos del navbar*/
@import "views/footer"; /*estilos del footer*/
@import "components/button";
@import "utilities/mediaqueries";
 
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}

/*  --------BODY---------  */

body {
    line-height: 1.2;
    background-color: $color-primary;
}

.heroContent{
    margin: 0 auto;
    width: 80vw;
}

.main{
    margin: 0 auto;
    width: 80vw;
}
    .bigDescription {
        font-size: $font-big-description;
        color: $color-secondary;
        font: bolder;
    }
        .name{
            color:$color-third
        }

.normalText{
    font-size: $font-size;
    font: caption;
    text-decoration: dashed;
}

.normalText--v2{
    @extend .normalText;
    font-size: 16px;
}

.img-fluid:hover{
    border: solid 2px #000000;
    transform: scale(1.1,1.1);
}

/* animation */

.typed-words{
    font-size: 24px;
}

.animacion{
    font-size: medium;
    /* name */
    animation-name: ContactMe;
    /* veces que se ejecuta */
    animation-iteration-count: infinite;
    /* Duration */
    animation-duration: 4s;
    /* Delay */
    animation-delay: 1s;
}

@keyframes ContactMe {
    0%{
        color: #000000;
    }
    25%{
        color: #111C7C;
    }
    50%{
        color: #939292;
    }
    75%{
        color: #111C7C;
    }
    100%{
        color: #000000;
    }
}
