/*---------MEDIA QUERY---------*/

@media only screen and (max-width: 768px) {
    .wrapper {
        display: block;
    }
    .margin-bot {
        margin-bottom: 2px;
    }

    .bigDescription {
        font-size: 10px;
    }

    .copy{
        display: grid;
        grid-template-columns: 1fr;

    }
}

@media (max-width: 768px) {
    .experiences {
        .wrapper{
            display: block;
        }
        .margin-bot{
            margin-bottom: 2px;
        }
    }
}