/*----------------COLORS-------------------*/
$color-primary:rgb(232, 232, 232);  
$color-secondary:#111C7C;
$color-accent: rgb(210, 210, 210);
$color-third: rgb(15, 63, 186);

/*----------------FONTS-------------------*/
$font-size: 16px;
$font-title: $font-size+3; /*-operador scss-*/
$font-big-description: $font-size*3;   