/*----------------COLORS-------------------*/
$color-primary:rgb(232, 232, 232);  
$color-secondary:#111C7C;
$color-accent: rgb(210, 210, 210);

/*----------------FONTS-------------------*/
$font-size: 16px;
$font-title: 19px;
$font-big-description: 4rem;   