/* Animation Library */

.btn {
    background-color: $color-secondary;
}

.btn-penalty{
    background-color: aqua;
}

/* MAP = Lista de elementos */
$empresas:(
    penalty: green,
    rappi: rgb(252, 89, 89),
    coder: grey,
);

@each $name, $color in $empresas{
    .btn-#{$name}{
        background-color: #{$color};
    }
}

.btn-resume{
    background-color: map-get($map: $empresas, $key: rappi);
}