/* MIXIN */

@mixin flexbox($flex-direction, $justify, $align) {
    flex-direction: $flex-direction;
    justify-content: $justify;
    align-items: $align;
}

.card{
    @include flexbox(column,center,center)
}

.img{
    @include flexbox(row,flex-start,flex-end)
}

.works {
    &__card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        width: 70vw;
        padding-top: 3rem;
        padding-bottom: 3rem;
        
        &--copy {
            background-size:contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 8rem;  
        }

        &--copy:hover{
            transform: scale(1.1,1.1);
        }
        a.fill-div {
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
        }
    }
}